
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Raleway;
}


a{
 color: green;
}

.btn-two{
 width: 20%;
}

.fa-facebook {
    background: lightgrey;
    color: white;
}

.fa-twitter {
    background: lightgrey;
    color: white;
}


.fa-instagram {
    background: lightgrey;
    color: white;
}

.fa {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    margin: 4px; 
}



.form-group-three{
    width: 60%;
    border: solid 1px white;
}


.lorem{
    list-style: none;
    float: right;
    display: flex;
}

.icon{
    list-style: none;
}



/* @media(max-width: 768px){
    .logo{
        width: 20%;
    }

    .illu-one{
        width: 50%;
    }

    .illu-two{
        width: 50%;
    }

    .form-control{
        width: 60%;
    }
    .btn{
        position: relative;
        right: 30px;
    }

    .btn-two{
        position: relative;
        left: 16%;
    }
    .form-control-two{
        width: 90%;
        padding: 6px;
        border-radius: 13px;
    }

    .second-logo{
        width: 30%;
    }

    .bg{
        width: 80%;
    }

} */


@media(max-width: 768px){
  .logo{
      width: 20%;
  }

  .illu-one{
      width: 100%;
  }

  
  .illu-two{
    width: 100%;
}

.btn-two{
    width: 30%;
}

}